html, body {
    height: 100%;
    width: 100%;
}

.bg-custom {
    font-size: 20px;
    background-color: #2C2C33;
    padding: 0px 10px 0px 10px;
}

#home {
    background-color: #2C2C33;
    width: 100vw;
    height: 100vh;
}
.display-1 {
    color: #fff;
    
}
#imgskills{
    height:60%;
    width:60%;
    padding: 10px;
   
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo {
    height: 15%;
    width: 15%;
}
.heading{
    height: 30%;
    width: 40%;
}
#skills{
    height: 100vh;
    width: 100vw;
}
#experience {
    height: 100vh;
    width: 100vw;
}
h1 {
font-size: 500%;
font-weight: 700;
text-align: center;
}
.card-img-top {
    height:40%;
    width:40%;
}
.card {
    padding:20px;
}

#about{
padding: 50px 0px 0px 0px;
height: 95vh;
width: 100vw; 
}

footer {
    width:100%;
    background-color:#2C2C33;
    padding: 0% 5% 5% 5%;
    color: #fff;

}

.fa {
    padding: 15px;
    font-size:25px;
    color: #fff;
}
.fa:hover {
    color: #d5d5d5;
    text-decoration: none;
}


@media (max-width 768px) {
    .h1 {
        font-size: 300%;
    }

    .fa {
        font-size: 20px;
        padding: 10px;
    }
}